@media only screen and (max-width: 768px){

    
    header, main {
        padding: 0;
    }

    .baniereTop {
        justify-content: center;
    }
    
    .ancre {
        width: 50%;
    }
    
    .liensBaniere a {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .titreBlock {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 25px;
        
    }

    .titre, h1 {
        font-size: 20px;
        
    }

    .pTitre {
        width: 100%;
    }
    
    .formShearch {        
        display: flex;
        padding: 0 25px;

       
    }

    #shearchText{
        font-size: 16px;
        font-weight: bold;
        border-right: transparent;
    }

    #button {
        display: none;
    }

    #iconLoupe {
        position: relative;
        right: 30px;
        display: block;
        padding: 0 20px;
        font-size: 19px;
    }

    .filtres {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 25px;
    }

    .blockFitreTxtIcon ul {
        padding: 0;
    }

    .info {
        align-items: flex-start;
        padding: 0 25px;
    }
    .iconInfo {
        font-size: x-small;
        width: 30px;
        margin: 0;
    }

    .blockLesPlusPop {
        border-radius: 0px;
        padding: 25px;
    }

    .blockHebergement {
        border-radius: 0;
        padding: 25px;
        margin-right: 0;
        background: none;
    }

    .blockCardHebergement {
        flex-direction: column;
    }

    .cardHebergement {
        width: auto;
    }

    .blockActivitesMarseille {
        padding: 0 25px;
        height: 100%;
        margin-bottom: 20px;
    }

    .blockCardActivites {
        flex-direction: column;
        
    }

    .cardActivitesColumn {
        width: auto;
        height: 100%;
        
    }

    .cardActivite1 {
        height: 200px;
        margin-bottom: 30px;
    }

    .cardActivite1 img {
        height: 150px;
    }
    .cardActivite2 {
        height: 200px;
    }

    .cardActivite2 img {
        height: 150px;
    }

    .cardActivite3 img {
        height: 150px;
    }

    .cardActivite3 {
        height: 200px;
    }

    .cardActivite4 img {
        height: 150px;
    }

    .cardActivite4 {
        height: 200px;
    }

    footer {
        height: 100%;
        margin: 0px;
    }

    .blockFooter {
        flex-direction: column;
        height: 100%;
        padding-top: 20px;
    }

    .titreCardSize {
        font-size: 18px;
    }

    .footerblock {
        font-size: 16px;
        width: 80%;
        margin: 0 auto;
        
    }
    


}