* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration-line: none;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
    --color1: #0065fc;
    --color2: #DEEBFF;
    --color3: #F2F2F2;    
}

main {
    width: 1280px;
    
    margin: 0 auto;
    padding: 0;
    /* background: var(--color3); */
    font-family: 'raleway', sans-serif;

}
/* Nav top */

.banièreTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 17px;
    margin-top: 20px;
}

.lien1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;    
}

.customlien1, a {
    color: black;
}

.lien1 .customLien1:hover {
    border-top: solid 2px var(--color1);
}

.lien1 div {
    padding-top: 50px;
    height: 90px;
/* background-color: red; */
} 

.colorhover:hover {
    color: var(--color1);
}

.titre h1 {
    font-size: 1.4em;
    letter-spacing: 0.1mm;
}

.titre p {
    font-size: 1em;
}

.titre {
    line-height: 0.8em;
    margin-top: 30px;
}

.shearch {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 400px;
    position: relative;       
}

#icon {
    width: 50px;
    height: 50px;
    border: solid 1px var(--color3);
    border-radius: 10px 0 0 10px;
    background: var(--color3);
    padding-top: 15px;
    padding-left: 20px;
}


#button {
    border: solid var(--color1);
    border-radius: 0 10px 10px 0;
    background: var(--color1);
    height: 50px;
    position: absolute;
    color: white;
    font-size: 18px;
}

#shearchText {
    height: 50px;
    font-size: 18px;
    border: solid 1px var(--color3);
}

/* ResposiveTablette */

@media only screen and (max-width: 992px) {
    .banièreTop {
       display: flex;
       flex-direction: column;
       
    }    
    main {
        width: auto;

    }

    .lien1 {
        width: 200px;
        margin: 0;
        justify-content: space-between;
       
    }    

    .lien1 .customLien1:hover {
        border-bottom: solid 2px var(--color1);
        border-top: none;
    }   
}

/* Filtres */

.filtres {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;  
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px; 
    align-items: center;
    justify-content: space-between;    
}

.filtreTitre {
    margin-right: 30px;
}

.filtreIcoTxt {
    border: solid 2px rgba(128, 128, 128, 0.212);
    border-radius: 25px;
    border-left: transparent;
    margin-right: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;       
}

.filtreTxt {
    padding-left: 20px;
    padding-right: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtreIco {
    background: var(--color2);
    width: 52px;
    height: 52px;
    border-radius: 25px;
    color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtreIco:hover {
    background-color: var(--color1);
    color: var(--color2);
}

.filtreIcoTxt:hover {
    color: var(--color1);
}














/* 

.filtreTxt {
    font-size: 18px;
    margin-left: 20px;
}

.filtreTitre {
    font-size: 15px;
    font-weight: 600;
}  */

/* 



.filtreIcoTxt {
    border: solid 2px rgba(128, 128, 128, 0.315);
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;    
    padding-right: 20px;
    font-size: 18px;
    font-weight: 600;
    border-left: transparent;    
} */



    






/*    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;      
}

.filtreTitre {
    margin-right: 50px;
}

.filtreIcoTxt {
    border: solid 2px var(--color3);
    border-radius: 30px;
    margin-right: 20px;
    height: 48px;
    z-index: -1;
    
    
}

.filtreTxt {
    border: solid 2px var(--color3);
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
    
}

.filtreIco {
    position: absolute;
    margin-right: 10px;
    padding-left: 50px;
    margin-bottom: 12px;
    color: var(--color1);
    border: solid px var(--color2);
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: var(--color2);
    padding: 15px;
    

}

.filtreIco:hover {
    color: var(--color2);
    background-color: var(--color1); */
/* }  */
