* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration-line: none;
    font-family: 'raleway', sans-serif;
}


/* couleur de base  */
:root {
    --color1: #0065fc;
    --color2: #DEEBFF;
    --color3: #F2F2F2;    
}

.iconStarBleu {
    color: var(--color1);
    font-size: 15px;
}

.iconStarGrey {
    color: grey;
    font-size: 15px;
}

.avisPop i {
    padding-top: 65px;
}

body main {
    max-width: 1380px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}


/* Nav top */

nav .banièreTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 17px;
    margin-top: 20px;
    display: block;
    width: 90px;
    height: 50px;
}

.lien1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;     
}

.customlien1, a {
    color: black;
}
.customlien1 {
    border-top: solid 2px transparent;

}

.customLien1:hover {
    border-top: solid 2px var(--color1);
}

.lien1 div {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    height: 90px;
} 

.colorhover:hover {
    color: var(--color1);
}

.titre h1 {
    font-size: 1.4em;
    letter-spacing: 0.1mm;
}

.titre p {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.titre {
    line-height: 0.8em;
    margin-top: 30px;
}

.shearch {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 400px;
    position: relative;
    margin-top: 30px;       
}

#icon {
    width: 50px;
    height: 50px;
    border: solid 1px var(--color3);
    border-radius: 10px 0 0 10px;
    background: var(--color3);
    padding-top: 15px;
    padding-left: 20px;
}


#button {
    border: solid var(--color1);
    border-radius: 0 15px 15px 0;
    background: var(--color1);
    height: 50px;
    position: absolute;
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding-right: 15px;
    padding-left: 15px;
}

#shearchText {
    height: 50px;
    font-size: 18px;
    border: solid 1px var(--color3);
}

/* ResposiveTablette */

@media only screen and (max-width: 992px) {
    .banièreTop {

       flex-direction: column;
       
    }    
    body {
        width: 90%;
        /* margin: 0 30px 0 30px; */

    }

    .lien1 {
        width: 400px;
        margin: 0;
        /* justify-content: space-between; */
       
    }    

    .lien1 .customLien1:hover {
        border-bottom: solid 2px var(--color1);
        border-top: none;
    }
    
    
    .block3Card {
        flex-wrap: wrap;
    }

    .block3CardPop {
        flex-wrap: wrap;
    }
    
    ul{
        width: 860px;
        margin-right: 0;
        /* background-color: red; */
    }

    .filtres ul {
        flex-wrap: wrap;
    }

    

}

/* Filtres */

.filtres {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 0;  
}

ul {
    display: flex;
    padding-left: 30px; 
    align-items: center;
    justify-content: space-between;
    /* background-color: red;  */
}

.filtreTitre {

    width: 50px;
    margin-right: 20px;

}

.filtreIcoTxt {
    border: solid 2px rgba(128, 128, 128, 0.212);
    border-radius: 25px;
    border-left: transparent;
    margin-right: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;       
}

.filtreTxt {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 17px; 
} 

.filtreIco {
    background: var(--color2);
    width: 52px;
    height: 52px;
    border-radius: 25px;
    color: var(--color1);
    padding-left: 18px;
    padding-top: 18px;
    font-weight: 100;    
}


/* ----------------HOVERS--------------  */

/* hovers filtres */
.filtreIco:hover {
    background-color: var(--color1);
    color: var(--color2);
}

.filtreIcoTxt:hover {
    color: var(--color1);
}

/* hover cards hébergements  */

.card:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

/* hover cards populaires  */

.cardPop a:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

/* hover activités  */

.cardActivite1:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cardActivite2:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* -----------FIN DES HOVERS-----------  */


/* Information */

.info {
    width: 460px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    justify-content: space-between;
    margin-bottom: 30px;    
}

.iconInfo {
    color: var(--color1);
    border: solid 1px rgba(128, 128, 128, 0.233);
    border-radius: 25px;
    width: 25px;
    height: 25px;
    text-align: center; 
    margin-right: 15px;
    font-size: 13px;
    padding-top: 3px;   
}

.txtInfo {
    font-size: 16px;
}

/* Hébergements à Marseille et Populaires */

.hebergPop {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* flex-wrap: wrap;    */
}

.hebergMarseille {
    background: var(--color3);
    border-radius: 25px;
    height: 100%;
    flex: 2,5;
    padding: 10px;
    margin-right: 20px;      
}

.populaires {
    background: var(--color3);
    border-radius: 25px;
    height: 100%;
    flex: 1;
    padding: 10px;
    margin-right: 20px; 
}

.titrescontenairs {
    margin-left: 20px;
      
}

/* card hébergement */
.card {
    background: white;
    width: 250px;
    height:200px;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.171);
    transition: transform .5s;
    
}

.cardImag img {    
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;         
}

.cardBody {
    padding-left: 15px;
}

.cardBody h3, p, .avis {
   margin: 0;
   padding-top: 4px;
}

.block3Card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

/* card les plus populaires  */

.cardPop a {
    background: white;
    width: 350px;
    height:150px;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 20px;
    transition: transform .5s;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.171);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */
}

.cardPopImag img {
    
    width: 120px;
    height: 138px;
    padding-top: 4px;
    padding-left: 4px;
    object-fit: cover;
    border-radius: 25px 0 0 25px;         
}

.cardPopBody {
    padding-left: 15px;
}

.cardPopBody h3, p, .avis {
   margin: 0;
   padding-top: 4px;
}

.prixBold {
    font-weight: bold;
}

.block3CardPop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Activités  */

.blockActivitésMarseille {
    width: 100%;
    height: 600px;
    margin-top: 40px;
    padding: 20px;
}

.blockCardActivites {
    width: 100%;
    height: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.blockCardActivites {
    display: flex;
    justify-content: space-between;
}

.cardActivitesColumn {
    /* border: solid 2px black; */
    width: 24%;
    height: 380px;
}

.cardActivite1 {
    width: 100%;
    height: 380px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.171);
    border-radius: 25px;
    transition: transform .5s;
}

.cardActivite2 {
    width: 100%;
    height: 180px;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.171);
    transition: transform .5s;
}

.cardActivite1 img {
    width: 100%;
    height: 330px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.cardActivitesColumn h3 {
    margin: 0;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 16px;
}

.cardActivite2 img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

/*--------- FOOTER ------------ */

.blockFooter {
    width: 100%;
    height: 250px;
    background: red;
    display: flex;
    justify-content: space-between;   
}

.footerblock {
    width: 30%;
    border: solid 1px black;
    
}