* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration-line: none;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
    --color1: #0065fc;
    --color2: #DEEBFF;
    --color3: #F2F2F2;    
}

main {
    width: 1280px;
    
    margin: 0 auto;
    /* background: var(--color3); */
    font-family: 'raleway', sans-serif;

}
/* Nav top */

.banièreTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 17px;
    margin-top: 20px;
}

.lien1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;    
}

.customlien1, a {
    color: black;
}

.lien1 .customLien1:hover {
    border-top: solid 2px var(--color1);
}

.lien1 div {
    padding-top: 50px;
    height: 90px;
/* background-color: red; */
} 

.colorhover:hover {
    color: var(--color1);
}

.titre h1 {
    font-size: 1.4em;
    letter-spacing: 0.1mm;
}

.titre p {
    font-size: 1em;
}

.titre {
    line-height: 0.8em;
    margin-top: 30px;
}

.shearch {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 400px;
    position: relative;       
}

#icon {
    width: 50px;
    height: 50px;
    border: solid 1px var(--color3);
    border-radius: 10px 0 0 10px;
    background: var(--color3);
    padding-top: 15px;
    padding-left: 20px;
}


#button {
    border: solid var(--color1);
    border-radius: 0 10px 10px 0;
    background: var(--color1);
    height: 50px;
    position: absolute;
    color: white;
    font-size: 18px;
}

#shearchText {
    height: 50px;
    font-size: 18px;
    border: solid 1px var(--color3);
}

/* ResposiveTablette */

@media only screen and (max-width: 992px) {
    .banièreTop {
       display: flex;
       flex-direction: column;
       
    }    
    main {
        width: auto;

    }

    .lien1 {
        width: 200px;
        margin: 0;
        justify-content: space-between;
       
    }    

    .lien1 .customLien1:hover {
        border-bottom: solid 2px var(--color1);
        border-top: none;
    }   
}

/* Filtres */

.filtres, ul {
    display: flex;

    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 0;    
}

.filtreTitre {
    margin-right: 30px;
} 

.filtreIcoTxt {
    border: solid 2px var(--color3);
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.filtreIco {
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: var(--color1);
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}